.notification-item-container {
  max-height: 1000px;
  overflow: hidden;
  opacity: 0;
  will-change: transform, opacity, height;
}

.notification-item {
  margin: 10px 0 0 10px;
  padding: 16px;

  min-width: 150px;

  display: flex;
  align-items: center;


  font-size: 14px;
  color: hsla(0, 0%, 100%, 1);

  overflow: hidden;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.notification-item--default {
  background: hsla(0, 0%, 20%, 1);
}

.notification-item--warning {
  background: hsla(28, 91%, 54%, 1);
}

.notification-item--success {
  background: hsla(82, 56%, 51%, 1);
}

.notification-item--error {
  background: hsla(0, 79%, 63%, 1);
}

.notification-item__icon {
  margin-right: 8px;
}

.notification-item__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: hsla(196, 100%, 47%, 1);
}